<h1>Linkshare</h1>
<hr>
<div ng-repeat="post in vm.posts | orderBy:'-vm.upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(post)"></span>
    {{post.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
    </span>
    <span style="font-size:15px; margin-left:5px;">
        <a href="" ng-click="vm.comments(post)">comments</a>
    </span>
</div>
<form ng-submit="vm.addPost()" style="margin-top:30px;">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="vm.title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="vm.link">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
