<div class="page-header">
    <h1>Linkshare</h1>
</div>
<div ng-repeat="post in vm.posts | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(post)"></span>
    {{post.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
    </span>
    <span style="font-size:15px; margin-left:5px;">
        <a href="" ng-click="vm.comments(post)">comments</a>
    </span>
    <span ng-show="post.author">
        posted by <a>{{post.author}}</a> |
    </span>
</div>
<form ng-submit="vm.addPost()" style="margin-top:30px;"  ng-show="vm.isLoggedIn()">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="vm.title">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Link" ng-model="vm.link">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<div ng-hide="vm.isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>
