<h1><a href="{{vm.post.link}}">{{vm.post.title}}</a></h1>
<hr>
<div ng-repeat="comment in vm.post.comments | orderBy:'-comment.upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(comment)"></span>
    {{comment.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
        <span ng-hide="post.link">{{comment.body}}</span>
    </span>
</div>
<form ng-submit="addComment()"
      style="margin-top:30px;">
    <h3>Add a new comment</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="vm.comment">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
